body {
  font-family: 'Signika Negative', sans-serif;
  color: #6B4724;
  background: url('img/backgr.png') repeat;

}

a {
  color: #2E1F0F;
  text-decoration: none;
  font-size: 1.0em;
}

h1 {
  color: #6B4724;
  font-size: 1.750em;/*28px*/
  letter-spacing: 5.357%; /*-1.5px*/
}

h2 {
  color: #6B4724;
  font-size: 1.500em;
}

p{
  font-size: 1.0em;
}

img{
  max-width: 100%;
}

.border-image{
  border: solid 5px #957B62;
}

.btn {
  color: #FAF3BC;
  background: #6B4724 url('img/texture.png') no-repeat right top;
  padding: 15px 30px;
  margin: 40px 0px;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #957B62;
}

ul.nav {
  margin: 18.181% 0 0 0; /*120px 0 0 0*/
  list-style: none;
  float: right;
}

ul.nav li {
  float: left;
  margin-right: 40px;
}

ul.nav li a {
  color: #FAF3BC;
  font-size: 1.25em;
}

#squirrel img{
  padding: 20px 0 0 110px;
}

#intro {
  margin: 7% 0 1% 0;/*70px 0 10px 0;*/
  text-align: center;
}

#hometown{
  float:right;
  margin-top: 3.5%;/*35px;*/
  
}

#hometown h2{
  margin-left: 14.285%;/*70px;*/
  margin-bottom: 1.086%;/*5px;*/
}

#hometown img{
  margin-left: 14.285%;/*70px;*/
  margin-bottom: 4.081%;/*20px*/

}
#hard-boiled-egg img {
  margin: 0 0 0 0;
}

#dog img {
 margin-bottom: 3.478%;/*20px;*/
}

#hobbies{
  color: #FAF3BC;
}

#hobbies h2{
  color: #FAF3BC;
}
#contact{
  color: #FAF3BC;
}

#contact h2{
  color: #FAF3BC;
}

#copyright {
  color: #6B4724;
  border-top: 8px solid #957B62;
  padding: 1%;/*10px 0px;*/
  margin: 1.5% 0;/*15px 0px;*/
  text-align: center;
}

